.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 5px;
    height: 5px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 0 3px;
    animation: dotsAnimation 1.5s infinite;
  }
  
  @keyframes dotsAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }