.checkout-body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.payment-method-container ul, .payment-steps-container ul {
    padding: 0;
    margin: 0;
}

.payment-steps-container ul li {
    list-style-type: none;
    padding-bottom: 1rem;
}

.payment-steps-container ul li p {
    padding: .2rem 0 0 0;
    margin: 0;
}

.payment-method-container ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: .5rem 1rem;
    border-radius: var(--normal-border-radius);
    box-shadow: var(--box-shadow);
}

.payment-method-container ul li div {
    display: flex;
    align-items: center;
}

.payment-method-container ul li div span {
    margin-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-method-container ul li div img {
    margin-left: .5rem;
}

.payment-method-container ul li div span svg {
    font-size: 1.5rem;
    color: var(--main-color);
}

.payment-method-summary ul {
    padding: 0;
    margin: 0;
}

.payment-method-summary ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    padding: .5rem 0;
}

.payment-method-summary ul li:last-child {
    border: none;
}

.payment-method-expert-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.payment-method-expert-info-container div {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.coupon-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 1rem;
}

.payment-gateway-container {
    padding: 1rem 0;
}

.payment-gateway-container div .payment-gateway-choice-container {
    border: 2px solid #F2F2F2;
    border-radius: var(--normal-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.payment-gateway-container div .payment-gateway-choice-container:hover {
    box-shadow: 0 0 4px rgba(93,147,252,.5) !important;
    border: 1px solid #5d93fc !important;
    cursor: pointer;
}

.gateway-shadow {
    box-shadow: 0 0 4px rgba(93,147,252,.5) !important;
    border: 1px solid #5d93fc !important;
    cursor: pointer;
}

.payment-gateway-container div .payment-gateway-choice-container img {
    width: 2rem;
    height: 2rem;
}

.payment-gateway-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}


@media only screen and (max-width: 900px) {
    .checkout-body-container {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
}