.footer-container {
    min-height: 10rem;
    background-color: #1E2228;
    color: #7E8288;
    padding-top: 5rem !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.footer-logo-container {
    padding-bottom: 0rem !important;
    padding-right: 1rem !important;
}

.footer-logo-container strong {
    font-size: 2rem;
    color: #FFF;
}

.footer-logo-container p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    color: #7E8288;
}

.footer-links-container strong {
    font-size: 1.2rem;
    color: #FFF;
}

.footer-links-container div ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    padding-top: 2rem;
}

.footer-links-container div ul li {
    list-style-type: none;
}

.footer-links-container div ul li a {
    color: #7E8288;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-links-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}

.footer-links-buttons-container a {
    padding: 1rem 2rem !important;
    background-color: #1E2228;
}

@media only screen and (max-width: 900px) {

    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .footer-links-container div ul {
        grid-template-columns: 1fr 1fr;
    }
    
}
